# Eclipse
.settings/
.classpath
.project
.metadata/
*.tmp

# NetBeans
nbproject/private/
nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Gradle
.gradle/
build/
out/
bin/

# Arquivos compilados
*.class
*.jar
*.war
*.ear

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Arquivos temporários
*.tmp
*.temp

# e(fx)clipse
.fxbuild
